.navbar-dark .navbar-brand {
    color: #fff;
    font-family: 'Akronim', cursive;
    font-size: xx-large;
}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://media.contentapi.ea.com/content/dam/ufc/images/2017/10/easufc3-overview-championshipfighters.jpg.adapt.crop191x100.628p.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

social-links {
    padding-bottom: 15px;
}

.social-links li a i {

    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fffafa;
    background: #343a40;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    border: 1px solid #fffafa;
}

.social-links li a i:hover {
    background: #fffafa;
    color: #343a40
}

#footer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #343a40;
    position: absolute;
    flex-shrink: none;
    min-height: 22vh;
 }
 
 #footer-details{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    color: snow;
 }

.btn-primary {
    color: #fff;
    background-color: #343a40;
    border-color: #ffffff;
}
.btn-primary:hover{
  background-color: darkorange ;
}