{% extends 'base.html' %}
{% block content %}


<div class="container" id="edit_figther">
        <div class="row">
                <div class="col">
                <h3> Edit Fighter</h3>
                    <form action="{{url_for('update_fighter', categories_id=category._id)}}" method="POST">
                        <div class="form-group">

                            <div class="form-row col-md-6 fas">
                                <label for="first_name">First Name</label>
                                <input type="text" class="form-control" id="First Name" name="first_name" placeholder="First Name" value="{{category.first_name}}">
                            </div>
                            <div class="form-row col-md-6 fas">
                                <label for="second_name">Second Name</label>
                                <input type="text" class="form-control" id="Second Name" name="second_name" placeholder="Second Name" value="{{category.second_name}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row col-md-6 fas">
                                <label for="date-picker-example">D.O.B</label>
                                <input placeholder="Selected date" type="text" id="date-picker" class="form-control datepicker" value="{{category.dob}}">
                            </div>
                            <div class="form-row col-md-6 fas">
                                <label for="fight_record">Date</label>
                                <input type="date" class="form-control" id="dob" name="dob" placeholder="dob" value="{{category.dob}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row col-md-6 fas">
                                <label for="hometown">Hometown</label>
                                <input type="text" class="form-control" id="Hometown" name="hometown" placeholder="Hometown" value="{{category.hometown}}">
                            </div>
                            <div class="form-row col-md-6 fas">
                                <label for="fight_record">Fight Record</label>
                                <input type="text" class="form-control" id="Fight Record" name="fight_record" placeholder="00-00-00" value="{{category.fight_record}}">
                            </div>
                        </div>
                            <div class="form-row col-12 fas">
                                <label for="bio">Bio</label>
                                <input type="text" class="form-control" id="bio" name="bio" placeholder="Bio" value="{{category.bio}}">
                            </div>
                            <div class="form-row col-12 fas">
                                <label for="url">URL</label>
                                <input type="text" class="form-control" id="URL" name="url" placeholder="Image address here" value="{{category.url}}">
                            </div>
                            <div class="text-centre">
                            <button type="submit" class="btn btn-primary" name="{{url_for('update_fighter', categories_id=category._id)}}">Update Fighter</button>
                            <a href="{{url_for('delete_fighter', categories_id=category._id)}}" class="btn btn-primary">Delete Fighter</a>
                        
                        </div>    
                    </form>
                     
                </div>
        </div>
       
</div>


{% endblock %}