{% extends 'base.html' %}
{% block content %}
<!-- Full Page Image Header with Vertically Centered Content -->
   <header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light"></h1>
        <p class="lead"></p>
      </div>
    </div>
  </div>
</header>
<!-- Full Page Image Header with Vertically Centered Content -->
<br>

<div class="container-fluid">
    <div class="row">
    {% for category in categories %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
            <a href="{{url_for('moreinfo')}}"><img class="card-img-top" src="{{category.url}}" alt=""></a>
            <div class="card-body">
            <h4 class="card-title">
                <a href="{{url_for('moreinfo')}}">{{category.first_name}} {{category.second_name}}</a>
            </h4>
            <p class="card-text"> 
            {{category.dob}}
            </p>
            <p class="card-text"> 
            {{category.weight}}
            </p>
            <p class="card-text"> 
            {{category.hometown}}
            </p>
            <p class="card-text"> 
            {{category.fight_record}}
            </p>
            </div>
        </div>
</div>
{% endfor %}
{% endblock %}