{% extends 'base.html' %}
{% block content %}
<!-- Full Page Image Header with Vertically Centered Content -->
   <header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light"></h1>
        <p class="lead"></p>
      </div>
    </div>
  </div>
</header>
<!-- Full Page Image Header with Vertically Centered Content -->
<br>

{% for category in categories %}
        {{category.url}}
        {{category.first_name}}
        {{category.second_name}}
        {{category.dob}}
        {{category.weight}}
        {{category.hometown}}
        {{category.fight_record}}
        {{category.bio}}
        {{category.comment}}


<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="{{category.url}}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{category.first_name}} {{category.second_name}}</a>
          </h4>
          <p class="card-text"> {{category.dob}}
        {{category.weight}}
        {{category.hometown}}
        {{category.fight_record}}
        {{category.bio}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://dmxg5wxfqgb4u.cloudfront.net/styles/athlete_bio_full_body/s3/2019-07/JONES_JON_R.png?1irwuTyKOmjT5aiBDv1VOu1Vw5RDW6.A&itok=J4osbPID" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Two</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://dmxg5wxfqgb4u.cloudfront.net/styles/athlete_bio_full_body/s3/2019-12/NUNES_AMANDA_L_BELT.png?MaZvseabAwXNbk8Epj1P228I2Ft6iWK_&itok=0Rp0fpqX" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Three</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://dmxg5wxfqgb4u.cloudfront.net/styles/athlete_bio_full_body/s3/2019-05/NAMAJUNAS_ROSE_L_BELT.png?VoamIqduvve2onQjPlJ6P0MSp6Nk3173&itok=IVdwSSdd" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Four</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
</div>
{% endfor %}
{% endblock %}