{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

<div class="login-page">
  <div class="form">
  <form class="login-form action={{url_for('signup')}}" method='POST'>
      <input type="text" name ='username'placeholder=" Username"/>
      <input type="password" name="password" placeholder="Password"/>
      <button>create</button>
      <p class="message">Already registered? <a href="{{ url_for('login') }}">Sign In</a></p>
    </form>
    
  </div>
</div>
{% endblock %}